{% extends "layout.html" %} {% block title %}{% endblock %} {% block content %}

<div class="mycustom-card">
  <div class="card w-75 ">
    <div class="card-header ">
      {{ post.users.username }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">
        {{ post.body }}
      </p>
      {% if current_user.username == current_user.username %}

      <button
        onclick="window.location.href=`{{url_for('delete_post', id=post.id)}}`"
        type="button"
        class="btn btn-success"
      >
        Detele
      </button>
      <button
        onclick="window.location.href=`{{url_for('edit_post',id=post.id, ref='profile')}}`"
        type="button"
        class="btn btn-outline-success"
      >
        Edit
      </button>
      {% endif %}
    </div>
    <div class="card-footer text-muted ">
        <div class="row">
          <div class="col">
            created {{ "{:%Y-%m-%d %H:%M}".format(post.created) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <i
              class="fa fa-eye fa-lg"
              style="color:rgb(235, 137, 189)"
              aria-hidden="true"
              ><span class="badge badge-pill badge-primary">{{
                post.view_count
              }}</span></i
            >
          </div>
          <div class="col-md-4">
            {% if current_user.has_flagged_post(post)%}
            <a
              href="{{url_for('like_action', id=post.id,action='unflag',ref='posts')}}"
            >
              <i
                class="fa fa-flag fa-lg"
                style="color: rgb(224, 151, 14)"
                aria-hidden="true"
              >
                <span class="badge badge-pill badge-primary">{{
                  post.flags.count()
                }}</span>
              </i>
            </a>
            {% else %}
            <a
              href="{{url_for('like_action', id=post.id,action='flag',ref='posts')}}"
            >
              <i
                class="fa fa-flag fa-lg"
                style="color: rgb(224, 151, 14)"
                aria-hidden="true"
              >
                <span class="badge badge-pill badge-primary">{{
                  post.flags.count()
                }}</span>
              </i>
            </a>
            {% endif%}
          </div>
          <div class="col-md-4">
            {% if current_user.has_liked_post(post)%}
            <a
              href="{{url_for('like_action' , id=post.id, action ='unlike',ref='posts')}}"
              ><i
                class="fa fa-heart-o fa-lg"
                aria-hidden="true"
                style="color: rgb(247, 55, 87)"
                ><span class="badge badge-pill badge-primary">{{
                  post.likes.count()
                }}</span></i
              >
            </a>
            {% else %}
            <a
              href="{{url_for('like_action' , id=post.id, action ='like',ref='posts')}}"
            >
              <i
                class="fa fa-heart-o fa-lg"
                aria-hidden="true"
                style="color: rgb(81, 144, 238)"
                ><span class="badge badge-pill badge-primary">{{
                  post.likes.count()
                }}</span></i
              >
            </a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>

<div class="listgroupitem1">
  <li class="list-group-item list-group-item-primary">
    <form method="POST">
      {{ form.hidden_tag() }}

      {{ form.title.label }} : {{ form.title() }} {{ form.body.label }} :
      {{ form.body() }}

      {{ form.submit }}
    </form>
  </li>
</div>

{% endblock %}
