{% extends "layout.html" %} {% block content %} 
<div class="users-content">
    {% for user in users%}
  <div class="card singlecard" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Hello! This is {{user.username}}</h5>
      
      <p class="card-text">
        Connecting the world with one click!
      </p>
      {% if current_user.id != user.id %}
      
      <button onclick="window.location.href=`{{url_for('follow', id=user.id)}}`"    type="button" class="btn btn-primary">Follow</button>
      
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

 {% endblock %}
