{% extends "layout.html" %} {% block title %}{% endblock %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div
        class="card"
        style="width: 18rem; margin-left:-70px; margin-top: 50px"
      >
        <img
          class="card-img-top"
          src="/static/images/profile1.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title" style="color: rgb(245, 98, 40)">
            Hi, My name is {{ current_user.username }}
          </h5>
          <p class="card-text">
            Hit follow button below to build your network! Be one of my
            INSPIRER.
          </p>
          <a href="#" class="btn btn-primary">Follow</a>
          <a href="{{ url_for('edit_user') }}" class="btn btn-primary"
            >Edit Profile</a
          >
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="jumbo">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <form method="POST">
              {{ form.hidden_tag() }}
              <div class="form-group">
                <label for="exampleInputEmail1">{{ form.title.label }}</label>
                {{ form.title(class="form-control",id="email",required="required",type="text",value="",placeholder="Enter the title" ) }}
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">{{ form.body.label }}</label>
                {{ form.body(class="form-control",id="email",required="required",type="text",value="",placeholder="What is on your mind?"  )}}
              </div>

              {{ form.submit(class="btn btn-success btn-block") }}
            </form>
          </div>
        </div>
      </div>
      {% for post in posts %}
      <div class="post-content">
        <div class="card w-100">
          <div class="card-header">
            {{ post.users.username }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">
              {{ post.body }}
            </p>
            <button
              onclick="window.location.href=`{{url_for('delete_post', id=post.id, ref='profile')}}`"
              type="button"
              class="btn btn-success"
            >
              Detele
            </button>
            <button
              onclick="window.location.href=`{{url_for('edit_post',id=post.id, ref='profile')}}`"
              type="button"
              class="btn btn-outline-success"
            >
              Edit
            </button>
            <button
              onclick="window.location.href=`{{url_for('single_post',id=post.id)}}`"
              type="button"
              class="btn btn-outline-success"
            >
              Comment
            </button>
          </div>
          <div class="card-footer text-muted ">
            <div class="row">
              <div class="col">
                created {{ "{:%Y-%m-%d %H:%M}".format(post.created) }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <i
                  class="fa fa-eye fa-lg"
                  style="color:rgb(235, 137, 189)"
                  aria-hidden="true"
                  ><span class="badge badge-pill badge-primary">{{
                    post.view_count
                  }}</span></i
                >
              </div>
              <div class="col-md-4">
                {% if current_user.has_flagged_post(post)%}
                <a
                  href="{{url_for('like_action', id=post.id,action='unflag', ref='profile')}}"
                >
                  <i
                    class="fa fa-flag fa-lg"
                    style="color: rgb(224, 151, 14)"
                    aria-hidden="true"
                  >
                    <span class="badge badge-pill badge-primary">{{
                      post.flags.count()
                    }}</span>
                  </i>
                </a>
                {% else %}
                <a
                  href="{{url_for('like_action', id=post.id,action='flag', ref='profile')}}"
                >
                  <i
                    class="fa fa-flag fa-lg"
                    style="color: rgb(224, 151, 14)"
                    aria-hidden="true"
                  >
                    <span class="badge badge-pill badge-primary">{{
                      post.flags.count()
                    }}</span>
                  </i>
                </a>
                {% endif%}
              </div>
              <div class="col-md-4">
                {% if current_user.has_liked_post(post)%}
                <a
                  href="{{url_for('like_action' , id=post.id, action ='unlike', ref='profile')}}"
                  ><i
                    class="fa fa-heart-o fa-lg"
                    aria-hidden="true"
                    style="color: rgb(247, 55, 87)"
                    ><span class="badge badge-pill badge-primary">{{
                      post.likes.count()
                    }}</span></i
                  >
                </a>
                {% else %}
                <a
                  href="{{url_for('like_action' , id=post.id, action ='like', ref='profile')}}"
                >
                  <i
                    class="fa fa-heart-o fa-2x"
                    aria-hidden="true"
                    style="color: rgb(81, 144, 238)"
                    ><span class="badge badge-pill badge-primary">{{
                      post.likes.count()
                    }}</span></i
                  >
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;margin-top: 50px">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
